#chart {
  font: 10px sans-serif;
}

line {
  stroke: black;
}

.repo {
  font: 14px sans-serif;
  font-weight: bold;
}

.changeset {
  font: 14px sans-serif;
  font-style:italic;
}

.word {
  font-weight: bold;
}